          <!-- Noticias y comunicaciones -->
          <div class="card">

            <div class="card-body pb-0">
              <h5 class="card-title">Noticias y actualizaciones <span></span></h5>

              <div class="news">
                <div class="post-item clearfix">
                  <img src="assets/img/news-1.jpg" alt="">
                  <h4><a href="#">Titulo</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/news-2.jpg" alt="">
                  <h4><a href="#">Titulo</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/news-3.jpg" alt="">
                  <h4><a href="#">Titulo</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/news-4.jpg" alt="">
                  <h4><a href="#">Titulo</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/news-5.jpg" alt="">
                  <h4><a href="#">Titulo</a></h4>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>

              </div><!-- Fin de cuadro de noticias-->

            </div>
          </div><!-- Fin de noticias y comunicaciones -->
