            <!-- Operaciones recientes -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="card-body">
                  <h5 class="card-title">Operaciones recientes <span>| Hoy</span></h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Clientes</th>
                        <th scope="col">Productos</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Estado</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><a href="#">#2457</a></th>
                        <td>Jose Argento</td>
                        <td><a href="#" class="text-primary">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a></td>
                        <td>$64</td>
                        <td><span class="badge bg-success">Aprobado</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">#2147</a></th>
                        <td>Maria Elena Fuseneco</td>
                        <td><a href="#" class="text-primary">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a></td>
                        <td>$47</td>
                        <td><span class="badge bg-warning">Pendiente</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">#2049</a></th>
                        <td>Arquímedes Puccio</td>
                        <td><a href="#" class="text-primary">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a></td>
                        <td>$147</td>
                        <td><span class="badge bg-success">Aprobado</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">#2644</a></th>
                        <td>Fernando Araujo</td>
                        <td><a href="#" class="text-primar">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a></td>
                        <td>$67</td>
                        <td><span class="badge bg-danger">Rechazado</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">#2644</a></th>
                        <td>Luis Mario Vitette Sellanes</td>
                        <td><a href="#" class="text-primary">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a></td>
                        <td>$165</td>
                        <td><span class="badge bg-success">Aprobado</span></td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- Fin op. recientes -->