          <!-- Trafico del sitio -->
          <div class="card">

            <div class="card-body pb-0">
              <h5 class="card-title">Trafico del sitio <span>| Total</span></h5>

              <div id="trafficChart" style="min-height: 400px;" class="echart"></div>

              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  echarts.init(document.querySelector("#trafficChart")).setOption({
                    tooltip: {
                      trigger: 'item'
                    },
                    legend: {
                      top: '5%',
                      left: 'center'
                    },
                    series: [{
                      name: 'Access From',
                      type: 'pie',
                      radius: ['40%', '70%'],
                      avoidLabelOverlap: false,
                      label: {
                        show: false,
                        position: 'center'
                      },
                      emphasis: {
                        label: {
                          show: true,
                          fontSize: '18',
                          fontWeight: 'bold'
                        }
                      },
                      labelLine: {
                        show: false
                      },
                      data: [{
                          value: 1048,
                          name: 'Registros'
                        },
                        {
                          value: 735,
                          name: 'Agenda'
                        },
                        {
                          value: 580,
                          name: 'Email'
                        },
                        {
                          value: 242,
                          name: 'Ventas'
                        },
                        {
                          value: 242,
                          name: 'faq'
                        },
                        {
                          value: 300,
                          name: 'Soporte'
                        }
                      ]
                    }]
                  });
                });
              </script>

            </div>
          </div><!-- Fin Trafico del sitio -->