<!DOCTYPE html>
<html lang="es">
<head>
  {{> head}}
</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index" class="logo d-flex align-items-center w-auto">
                  <img src="assets/img/logo.png" alt="">
                  <span class="d-none d-lg-block">Kyber Manager</span>
                </a>
              </div><!-- Fin logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Registro de empresa</h5>
                    <p class="text-center small">Ingresa tus datos para crear una cuenta</p>
                  </div>

                  <form action="" method="post" class="row g-3 needs-validation">
                    <div class="col-12">
                      <label for="entidad" class="form-label">Organización / Entidad: (*)</label>
                      <input type="text" name="entidad" placeholder="Nombre de tu empresa" class="form-control" id="business" required>
                    </div>
                    <div class="col-6">
                      <label for="direccion" class="form-label">Direccion completa: (*)</label>
                      <input type="text" name="direccion" placeholder="¿Donde estas?" class="form-control" id="business" required>
                    </div>
                    <div class="col-6">
                      <label for="ciudad" class="form-label">Ciudad: (*)</label>
                      <input type="text" name="ciudad" class="form-control" placeholder="Rosario" id="business" required>
                    </div>
                    <div class="col-6">
                      <label for="pais" class="form-label">Pais: (*)</label>
                      <input type="text" name="pais" class="form-control" placeholder="Argentina" id="business" required>
                    </div>
                    <div class="col-6">
                      <label for="tel" class="form-label">Celular: (*)</label>
                      <input type="tel" placeholder="54 (341) 315-1206" name="tel" class="form-control" id="tel" required>
                      <div class="invalid-feedback">Por favor, ingresa un numero de celular valido.</div>
                    </div>
                    <div class="col-6">
                      <label for="nombre" class="form-label">Nombre: (*)</label>
                      <input type="text" name="nombre" class="form-control" id="name" required>
                      <div class="invalid-feedback">Por favor, ingresa tu nombre.</div>
                    </div>
                    <div class="col-6">
                      <label for="apellido" class="form-label">Apellido: (*)</label>
                      <input type="text" name="apellido" class="form-control" id="surname" required>
                      <div class="invalid-feedback">Por favor, ingresa tu apellido.</div>
                    </div>
                    <div class="col-6">
                      <label for="dni" class="form-label">D.N.I.: (*)</label>
                      <input type="number" placeholder="Doc. de identidad." name="dni" class="form-control" id="dni" required>
                      <div class="invalid-feedback">Por favor, ingresa tu nombre.</div>
                    </div>
                    <div class="col-6">
                      <label for="cuit" class="form-label">C.U.I.T.: (*)</label>
                      <input type="number" placeholder="Clave Única de identificación Tributaria" name="cuit" class="form-control" id="cuit">
                    </div>
                    <div class="col-12">
                      <label for="email" class="form-label">Correo electronico: (*)</label>
                      <input type="email" placeholder="info@acoslegacy.com" name="email" class="form-control" id="yourEmail" required>
                      <div class="invalid-feedback">Por favor, ingresa un mail valido.</div>
                    </div>
                    <div class="col-12">
                      <label for="pass" class="form-label">Contraseña: (*)</label>
                      <input type="pass" placeholder="*****" name="password" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Por favor, ingresa una contraseña.</div>
                    </div>
                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" name="acceptTerms" type="checkbox" name="remember" value="true" id="acceptTerms" required>
                        <label class="form-check-label" for="acceptTerms">Acepto todos los <a href="#">terminos y condiciones</a>. (*)</label>
                        <div class="invalid-feedback">Para crear una cuenta debes aceptar los terminos y condiciones.</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Crear cuenta</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">¿Tu cuenta ya existe? <a href="pages-login">Inicia sesion</a></p>
                    </div>
                  </form>
                </div>
              </div>
              {{> credits}}
            </div>
          </div>
        </div>

      </section>

    </div>
  </main>
  {{> script}}
  <script src="./assets/js/register.js"></script>
</body>
</html>