<!DOCTYPE html>
<html lang="es">

<head>
  {{> head}}
</head>

<body>

  {{> header}}
  {{> aside}}

  <main id="main" class="main">
    <p class="text-center p-5">
      Soy un formulario de contacto.
      <img src="./assets/img/not-found.gif" alt="" srcset="">
    </p>
  </main><!-- Fin de main -->

  {{> footer}}
  {{> script}}
</body>

</html>