<!DOCTYPE html>
<html lang="es">

<head>
  {{> head}}
</head>

<body>

    {{> header}}
    {{> aside}}

  <main id="main" class="main">
    En construccion.
  </main><!-- End #main -->

  {{> footer}}
  {{> script}}
</body>

</html>